.inicioContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 10px;
    backdrop-filter: blur(4px);
    width: 40vw;
    height: 30vh;
    border: solid 1px rgba(255, 255, 255, 0.441);
    border-radius: 20px;
}
