*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: monospace;
}

body{
  min-width: 100%;
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}