*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: monospace;
  color: white;
}

body{
  min-width: 100%;
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("public/img/fondo.png");
  background-repeat: none;
  background-position: center;
  background-size: cover;
}