.loginContainer{
    min-width: 315px;
    border: solid 1px rgb(255, 255, 255);
    padding: 20px;
    backdrop-filter: blur(5px);
    border-radius: 5px;
}
.loginContainer form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 10px;
}
.loginContainer form input{
    width: 100%;
    padding: 10px;
    border: solid 1px black;
    border-radius: 5px;
    color: black;
}
.loginContainer form button{
    padding: 5px;
    width: 70%;
    color: black;
    background-color: white;
    border: solid 1px transparent;
    border-radius: 20px;
    transition: all 500ms ease-in-out;
}
.loginContainer form button:hover{
    background-color: black;
    color: white;
    border: solid 1px white;
}